.grid {
  display: grid;
  grid-template-columns: var(--cols-base, repeat(1, minmax(0, 1fr)));
  gap: var(--gap-base, 0);
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: var(--cols-sm, var(--cols-base, repeat(1, minmax(0, 1fr))));
    gap: var(--gap-sm, var(--gap-base, 0));
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: var(
      --cols-md,
      var(--cols-sm, var(--cols-base, repeat(1, minmax(0, 1fr))))
    );
    gap: var(--gap-md, var(--gap-sm, var(--gap-base, 0)));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: var(
      --cols-lg,
      var(--cols-md, var(--cols-sm, var(--cols-base, repeat(1, minmax(0, 1fr)))))
    );
    gap: var(--gap-lg, var(--gap-md, var(--gap-sm, var(--gap-base, 0))));
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: var(
      --cols-xl,
      var(--cols-lg, var(--cols-md, var(--cols-sm, var(--cols-base, repeat(1, minmax(0, 1fr))))))
    );
    gap: var(--gap-xl, var(--gap-lg, var(--gap-md, var(--gap-sm, var(--gap-base, 0)))));
  }
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-items: flex-start;
}

.justify-center {
  justify-items: center;
}

.justify-end {
  justify-items: flex-end;
}

.justify-stretch {
  justify-items: stretch;
}

.justify-between {
  justify-content: space-between;
}

.fullWidth {
  width: 100%;
}
